apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: hippo
spec:
  postgresVersion: 14
  databaseInitSQL:
    name: init-postgresql
    key: create-db-test-db
  instances:
    - name: instance1
      replicas: 2
      resources:
        limits:
          cpu: 1.0
          memory: 1Gi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  postgres-operator.crunchydata.com/cluster: hippo-ha
                  postgres-operator.crunchydata.com/instance-set: pgha1
      dataVolumeClaimSpec:
        accessModes:
        - "ReadWriteOnce"
        resources:
          requests:
            storage: 1Gi
      walVolumeClaimSpec:
        accessModes:
        - "ReadWriteOnce"
        resources:
          requests:
            storage: 1Gi
  users:
    - name: manni
      options: SUPERUSER
      password:
        type: ASCII
    - name: postgres
      options: SUPERUSER
      password:
        type: ASCII
  backups:
    pgbackrest:
      manual:
        repoName: repo1
        options:
          - --type=full
      configuration:
        - secret:
            name: postgres-db-s3-credentials
        - configMap:
            name: pgbackrest-async-config
      global:
        repo1-retention-full: "3"
        repo1-retention-full-type: count
      repos:
      - name: repo1
        schedules:
          full: "0 1 * * 0"
          differential: "0 1 * * 1-6"
        # volume:
        #   volumeClaimSpec:
        #     accessModes:
        #     - "ReadWriteOnce"
        #     resources:
        #       requests:
        #         storage: 10Gi
        s3:
          bucket: postgres
          endpoint: "http://minio.minio.svc:9000"
          region: eu-01
  patroni:
    dynamicConfiguration:
      postgresql:
        parameters:
          max_parallel_workers: 2
          max_worker_processes: 2
          shared_buffers: 1GB
          work_mem: 2MB
  proxy:
    pgBouncer:
      replicas: 2
      config:
        global:
          max_client_conn: "100"
          default_pool_size: "100"
          max_db_connections: "100"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
  monitoring:
    pgmonitor:
      exporter:
        image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres-exporter:ubi8-5.0.0-0
